body {
    margin: 0;
    padding: 0;
}
#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

#menuShow {
    width: 50px;
    clear: both;
    margin-right: 2px;
}

.menu__bar {
    border: 9px solid #000;
    max-width: 50px;
    margin-bottom: 2px;
    margin-right: 2px;
}

.menuHide{
    display: none;
}

input {
    padding: 10px;
    width: 300px;
}

#map {
    z-index: -1;

}

#menuShow,
#sideBar {
    z-index: 99;
}

.marker {
    width: 40px;
    height: 40px;
    background-image: url('../images/marker.svg');
    background-size: cover;
    cursor: pointer;
}

.mapboxgl-popup {
    max-width: 200px;
}

.mapboxgl-popup-content {
    text-align: center;
}

#sideBar {
    width: 340px;
    background-color: rgba(0, 0, 0, 0.4);
    float: left;
}

.place {
    font-size: 1.25rem;
    color: #ffeeff;
    padding: 10px;
    border-bottom: 1px solid #ffeeff;
}
