body {
     margin:0; 
     padding:0; 
    }
#map { 
    position:absolute; 
    top:0; 
    bottom:0; 
    width:100%; 
}

#menuShow{
    width: 50px;
}

.menu__bar{
    border: 9px solid #000;
    width: 50px;
    margin-bottom: 2px;
}

input{
    padding: 10px;
}